<div id="allbooks"  class="view full-page-intro">
    <div class="mask rgba-black-light d-flex  justify-content-center">

          <div class="container myBooks">

                  <!-- Center -->
                  <div class="col-md-12">
                      <!-- Card -->
                      <div class="card" id = "cardmargin">
                          <div class="card-body">
                              <p class="h4 text-center mb-4">View all Available Books!</p>


                              <!-- Search bar -->
                              <div class="md-form">
                                <form class="form-inline">
                                  <i class="fa fa-search prefix"></i>
                                  <input type="text" id="input" class="form-control"aria-label="Search" onkeyup="searchBooks()">
                                  <label for="input">Search for a book</label>
                                </form>
                              </div>
                              <!-- Search bar -->


                              <div id="book-grid">
                              <!-- This area will populate the books that users claim they have in possesion -->
                                  <div class="card-deck">
                                      {{#each libraryBooks}}
                                          <!-- Create card for a book -->
                                              <div class="col-sm-3" id="book">
                                                  <a href="javascript://" tabindex="0" data-trigger="focus" data-html="true" data-toggle="popover" data-placement="bottom" title="<b>{{this.book_title}}</b>" data-content="<div><b>Author(s):</b> {{this.book_author}}</div><div><b>Owned by: </b>{{this.book_owner.username}}</div>">
                                                      <div class="card mb-3">
                                                          <img class="img-fluid" src={{this.book_thumbnail}}>
                                                          <span class="hide-text">
                                                            {{this.book_title}}
                                                            {{this.book_author}}
                                                          </span>
                                                      </div>
                                                  </a>
                                              </div>
                                      {{/each}}
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
          </div>

  </div>
</div>

<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/search.js"></script>
